@import "../src/assets/styles/constants.scss";
.custom-table-header {
  background-color: #44588a;
  .custom-table-cell {
    color: #ffffff;
    padding: 18px 3px 16px 15px;
    font-size: $font-size-12;
    div{
      position: relative;
      .MuiOutlinedInput-notchedOutline{
        border-radius: 0;

      }
      .position{
        img{
          position: absolute;
          top: 25px;
          left: 10px;
          z-index: 1;
        }
      }
    }
    .MuiTableSortLabel-root {
      .MuiSvgIcon-root{
      opacity: 1;
      }
    }
    .Mui-active .MuiTableSortLabel-icon {
      opacity: 1;
      color: $white-clr;
  }
    .filter-textbox {
      background-color: #ffffff;
      border: none;
      outline: none !important;
      box-shadow: none;
      width: fit-content;

      .MuiInputBase-root {
        .MuiInputBase-input {
          outline: none;
          :focus {
            outline: none;
          }
        }
      }
    }
  }
}
