@import "../src/assets/styles/constants.scss";
.navbar-nextIcon {
    color: #E83E8C;
}
.breadcrumb-container {
    background-color: #f4f7ff;
    padding: 10px 10px;
    position: fixed;
    // top: 84px;
    // left: 202px;
    // z-index: 1000;
    width: calc(100% - 16px);

  }
  
  .breadcrumb-link {
    color: #f6881f !important;
    text-decoration: none !important;
  
    &:hover {
      text-decoration: none !important;
    }
  }
  .breadcrumb-link:last-child {
    text-decoration: none !important;
    font-size: $font-size-14;
  }
  