@import "../src/assets/styles/constants.scss";
.railDashboard{
  margin-left: 17%;
  padding-top: 85px;
  .transmission-page{
    margin-top: 15%;
    margin-left: 10%;


  }
  .MuiTypography-root{
    margin-top: 2%;
    padding: 8px;
    font-size: $font-size-14;
    &.MuiBreadcrumbs-root {
      margin-top: 27px;
      left: 17%;
      // padding-top: 18px;
    }
  }
  div{
    div{
      .MuiBox-root{
        width: 96%;
        margin-left: 2.4%;
        .MuiPaper-root{
          .MuiToolbar-root{
            margin-top: 10%;
            display: flex;
            flex-flow: row-reverse;

          }
          .custom-pagination-controls{
            margin-left: -2%;
            margin-top: 0;
          }
          .MuiPagination-root{
            padding: 0;
            width: 50%;
            margin-right: 40%;

          }
          .MuiTableContainer-root{
            height: 43vh;
            table{
              .MuiTableHead-root {
                position: sticky;
                top: 0;
                z-index: 1;

              }
              .MuiTableBody-root{
                .MuiTableRow-root{
                  .MuiTableCell-root {
                    white-space: nowrap;
                    font-size: $font-size-12;
                    text-align: center;
                    border-bottom: 0;
                    border-left: 0.1px solid $border-left;
                  }
                }
                .MuiTableRow-root:nth-child(even){
                  background-color: $table-back-clr;
                }
              }
            }

          }

        }
      }
    }
  }
}