.custom-textfield {
  .MuiOutlinedInput-root {
    fieldset {
      border-color: #878d93;
      border-radius: 0px !important;
      border-width: 2px;
    }
    &:hover fieldset {
      border-color: #4c4d4c;
    }
    &.Mui-focused fieldset {
      border-color: #4c4d4c;
    }
  }
}

.custom-select {
  .MuiOutlinedInput-root {
    fieldset {
      border-color: #878d93 !important;
      border-width: 2px !important;
    }
    &:hover fieldset {
      border-color: #4c4d4c;
    }
    &.Mui-focused fieldset {
      border-color: #4c4d4c;
    }
  }
}

.custom-form-control {
  border: 1px solid #4c4d4c !important;
}

.custom-radio {
  border: 1px solid #4c4d4c !important;
}
