@import "../src/assets/styles/constants.scss";
.njt-transaction2-table{
    .css-1gplja-MuiTable-root{
        border-collapse: unset !important;
    }
}
.njt-custom-table{
    margin-top: 70px;
    .custom-table-header .custom-table-cell {
        text-align: center;
    }
    .css-1gplja-MuiTable-root{
        border-collapse: unset !important;
    }
    .custom-table-header {
        background-color: $additional-text;
    }
     .MuiTableContainer-root{
        height: 13vh !important
    }
}