@import "../src/assets/styles/constants.scss";
.display{
  width: 100%;
  position: fixed;
  background-color:$login-colour ;
  border-bottom: 1px solid $border-clr;
  .flex-center{
    display: flex;
    border-bottom: 1px solid #707ca1;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    .text-align{
      text-align: center;
      color: $header-clr;
      font-size: $font-size-14;
  
    }

  }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a2b57;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2;

  .logo-container {
    padding-left: 30px;
  }
  .avatar-container {
    padding-right: 30px;
    div{
      background-color: $logo-colour;
      color: $logo-letter-colur;
      margin-bottom: 17px;
    }
  }

  .nav-links-container {
    display: flex;
    margin-bottom: 19px;
    

    a {
      padding: 10px;
      text-decoration: none;
      color: #ADB5BD;
      position: relative;

      &.active {
        color: #FFFFFF;

        &:before {
          content: "";
          position: absolute;
          top: -19px;
          left: 0;
          width: 100%;
          height: 5px;
          background-color: #ff7f00;
        }
      }
    }
  }
}
}
