@import "../src/assets/styles/constants.scss";
.display{
  width: 100%;
  position: fixed;
  border-bottom: 1px solid $border-clr;
  .flex-center{
    display: flex;
    border-bottom: 1px solid #707ca1;
    justify-content: space-between;
    background-color: #1a2b57;
    padding-left: 1%;
    align-items: center;
    padding-right: 1%;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    height: 4vh;
    .logo-home:hover a{
      background-color:white;
      border-radius: 50%;
      border: 1px solid red;
    }
    .logo-home:hover img{
      width: 95%;
      height: 67%;
    }
    .logo-home,img{
      height: 3vh;
      width: 1.5vw;
    }      display: flex;
    .text-align{
      text-align: center;
      color: $header-clr;
      font-size: $font-size-14;
      @media screen and (min-width: $media-1600){
        font-size: $font-size-16;

    }
    @media screen and (min-width: $media-2000){
      font-size: $font-size-24;
    
    }
    @media screen and (min-width: $media-2800){
      font-size: $font-size-30;
    }
    @media screen and (min-width: $media-3400){
      font-size: $font-size-36;
    
    }
    @media screen and (min-width: $media-4000){
      font-size: $font-size-42;
    
    }
  
    }
    .date-formate{
      display: flex;
      .time{
        color: $border-clr;
        font-size: $font-size-11;
        padding-top: 0.4vh;
        @media screen and (min-width: $media-1600){
          font-size: $font-size-14;
  
      }
      @media screen and (min-width: $media-2000){
        font-size: $font-size-18;
      
      }
      @media screen and (min-width: $media-2800){
        font-size: $font-size-22;
      }
      @media screen and (min-width: $media-3400){
        font-size: $font-size-25;
      
      }
      @media screen and (min-width: $media-4000){
        font-size: $font-size-28;
      
      }
      }
    }
  

  }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a2b57;
  position: fixed;
  width: 100%;
  height: 9vh;
  z-index: 2;

  .logo-container {
    padding-left: 30px;
    .logo{
      height: 5vh;
    }
  }
  .avatar-container {
    padding-right: 30px;
    div{
      background-color: $logo-colour;
      color: $logo-letter-colur;
      height: 6vh;
      width: 2.9vw;
      font-size: $font-size-16;
      @media screen and (min-width: $media-1600){
        font-size: $font-size-16;

    }
    @media screen and (min-width: $media-2000){
      font-size: $font-size-30;
    
    }
    @media screen and (min-width: $media-2800){
      font-size: $font-size-36;
    }
    @media screen and (min-width: $media-3400){
      font-size: $font-size-42;
    
    }
    @media screen and (min-width: $media-4000){
      font-size: $font-size-48;
    
    }
    }
      
    
  }

  .nav-links-container {
    display: flex;
    height: 9vh;
    

    a {
      padding: 1vw;
      text-decoration: none;
      color: #ADB5BD;
      position: relative;
      padding-top: 3vh;
      font-size: $font-size-13;
    @media screen and (min-width: $media-1600){
        font-size: $font-size-16;

    }
    @media screen and (min-width: $media-2000){
      font-size: $font-size-24;
    
    }
    @media screen and (min-width: $media-2800){
      font-size: $font-size-30;
    }
    @media screen and (min-width: $media-3400){
      font-size: $font-size-36;
    
    }
    @media screen and (min-width: $media-4000){
      font-size: $font-size-42;
    
    }

      &.active {
        color: #FFFFFF;
        background-color: $active-clr;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0.8vh;
          background-color: $yellow-clr;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }
}
.back-image{
  margin-top: 9vh;
  height: 17vh;
  .image{
    height: 17vh;
    width: 100vw;
  }

}
}
a.profile{
  text-decoration: none;
  font-size: $font-size-13;
  color: $border-colour;
  display: contents;
  img{
    margin-right: 0.7vw;
  }
  @media screen and (min-width: $media-1600) {
    font-size: $font-size-16;

  }

  @media screen and (min-width: $media-2000) {
    font-size: $font-size-24;

  }

  @media screen and (min-width: $media-2800) {
    font-size: $font-size-30;
  }

  @media screen and (min-width: $media-3400) {
    font-size: $font-size-34;
  }

  @media screen and (min-width: $media-4000) {
    font-size: $font-size-36;

  }
}
.dashboard {
  .MuiPaper-root {
    margin-top: 3.3% !important;
    margin-left: 0.7%;
    height: 13vh;
    width: 10vw;
    .MuiMenu-list {
      padding: 1vh;
      li:first-child{
        background-color: $border-clr;
        color:$profile-clr;

      }
      .MuiMenuItem-root{
        
      }

    }
  }
}
.rail {
  .MuiPaper-root {
    margin-top: 6% !important;
    margin-left: 0.7%;
    height: 13vh;
    width: 10vw;
    .MuiMenu-list {
      padding: 1vh;

      li:first-child{
        background-color: $border-clr;
        color:$profile-clr;

      }
      .MuiMenuItem-root{
        
      }

    }
  }
}
