@import "../src/assets/styles/constants.scss";
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $footer-colour;
    font-size: $font-size-11;
    @media screen and (min-width: $media-1600){
        font-size: $font-size-16;
    
      }
      @media screen and (min-width: $media-2000){
        font-size: $font-size-24;
      }
      @media screen and (min-width: $media-2800){
        font-size: $font-size-28;
      }
      @media screen and (min-width: $media-3400){
        font-size: $font-size-30;
      }
      @media screen and (min-width: $media-4000){
        font-size: $font-size-32;
      }
}