@import "../src/assets/styles/constants.scss";
.search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5vh;
  margin-top: 10vh;
  background-color: $white-clr;
  width: 78.4vw;
  margin-left: 4vh;

  .input-field {
    flex: 1;
    min-width: 120px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  button {
    // padding: 10px 20px;
    // min-width: 100px;
  }
}
