
$h1-font-size : 32px;
$h2-font-size : 20px;
$mgb-1-5rem : 1.5rem;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-10: 10px;
$font-family: "Open Sans" !important;
$height-full:100%;
$width-full:100%;
$welcom-colour:#333333;
$transit-colour:#1A2B57;
$additional-text:#5B6B79;
$login-colour:#1A2B57;
$border-colour:#878D93;
$font-weight-600 : 600 !important;
$font-weight-bold: bold;