//FONTS
$h1-font-size : 2rem;
$h2-font-size : 1.25rem;
$mgb-1-5rem : 1.5rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-24: 1.5rem;
$font-size-10: 0.625rem;
$font-size-12: 0.7rem;
$font-size-13:0.815rem;
$font-size-11: 0.6875rem;
$font-size-28: 1.75rem;
$font-size-26: 1.625rem;
$font-size-30: 1.875rem;
$font-size-32: 2rem;
$font-size-42: 1.75rem;
$font-size-50: 1.75rem;
$font-size-38: 2.375rem;
$font-size-36: 2.25rem;
$font-size-48: 3rem;
$font-size-34: 2.125rem;
$font-size-20: 1.25rem;
$font-size-15: 0.9375rem;
$font-size-22: 1.375rem;
$font-size-25: 1.5626rem;

//MEDIA QUERY 

$media-1600:1600px;
$media-2000:2200px;
$media-2800:2800px;
$media-3400:3400px;
$media-4000:4000px;

//FONT FAMILY
$font-family: "Open Sans" !important;

//HEIGHT
$height-full:100%;

//WIDTH
$width-full:100%;

//COLOUR
$welcom-colour:#333333;
$transit-colour:#1A2B57;
$additional-text:#5B6B79;
$login-colour:#1A2B57;
$border-colour:#878D93;
$footer-colour:#10214B;
$logo-colour:#FFD0A4;
$logo-letter-colur:#773F0A;
$footer-clr:#E9ECF4;
$border-clr:#d4d8e2;
$rail-clr:#1A2B57;
$background-clr:#F4F4F4;
$white-clr:#FFFFFF;
$nav-clr:#464847;
$nav1-clr:#0E1D45;
$yellow-clr:#F6881F;
$header-clr:#FFEEAA;
$border-side:#F68A24;
$table-back-clr:#F6F8FE;
$border-left:#f3f4f5;
$active-clr:#10214b;
$btn-active:#1a2b57;
$pagination-clr:#44588a;
$profile-clr:#333333;

//WEIGHT
$font-weight-600 : 600 !important;
$font-weight-500 : 500 !important;
$font-weight-bold: bold;