.custom-table-row {
  &.expandable,
  &.expanded {
    cursor: pointer;
    background-color: #f3f7ff;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &.expanded {
    .MuiTableRow-root.expanded-row-detail-panel-container {
      background-color: #e8f2fc !important;
    }
  }
}
